

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}


.person{
	// @include pos-scale(-22, 0, .5);
}

.logo_big{
	display: none;
}


#banner{	
	width: 160px;
	height: 600px;
}

.logo_hwc {	
	width: 88px;
	height: 88px;
	top: 447px;
	left: 38px;
}

