<div class="frame frame2">
	<img src="./images/logo_big.png" class="retina logo_big" inline>

	<img src="./images/t3.png" class="retina t3" inline>
	<img src="./images/t3_terms.png" class="retina t3_terms" inline>

	<div class="logo_hwc">
		<img src="./images/logo_hwc_1.png" class=" logo_hwc_1" inline>
		<img src="./images/logo_hwc_2.png" class=" logo_hwc_2" inline>
	</div>
</div>