

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 0;
}





#banner{	
	width: 540px;
	height: 675px;
}

.logo_hwc {	
	width: 440px;
	height: 440px;
	top: 340px;
	left: 49px;
	// background-color: blue;
	// opacity: .6;
}

